[Unit]
Description=Telegram Planning Poker Bot
After=network.target

[Service]
Type=simple
User=paulshults
WorkingDirectory=/Users/paulshults/dev/telegram_pb
Environment=BOT_TOKEN=7826785109:AAEsfwHiIolosAoKLGlceU9Dr3w-tjATqnU
Environment=USER_TOKEN=user_token
Environment=LEAD_TOKEN=lead_token
Environment=ADMIN_TOKEN=admin_token
Environment=JIRA_URL=https://media-life.atlassian.net
Environment=JIRA_USERNAME=pe_shults@betboom.org
Environment=JIRA_API_TOKEN=ATATT3xFfGF0xgitwFlFJh6jI_uZk3kwkOMtHQ3BhvtUqAe1WUyjb1usNYXZoNK5fNauVzRXcuRZR6y8GuXw69lDKSU1sTM_hpXQiyeB26qWQEgFd0v1RbonaJx8J7kARTKu2ALQd0--Rpm8tLdwuQG8SObQXvOVaEY9iAzoUaPmqfkk9TYpGJc=4930D650
Environment=STORY_POINTS_FIELD=customfield_10022
Environment=SUPPORTED_TOPICS={"-1003087077812": ["ALL"]}
Environment=STATE_FILE=data/state.json
ExecStart=/usr/bin/python3 /Users/paulshults/dev/telegram_pb/bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
